/* Effective stylesheet produced by snapshot save */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px none; padding: 0px; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, iframe, nav, section { display: block; }
table { border-collapse: collapse; border-spacing: 0px; }
* { max-height: 1000000px; }
body { background-color: rgb(241, 241, 241); font: 300 16px/1.5625 myriad-pro,"Myriad Pro",Arial,Helvetica,sans-serif; }
h1, h2, h3, h4 { font-family: Adelle,Cambria,serif; font-weight: 600; line-height: 1.15; margin: 0px 0px 10px; }
h1 { font-size: 2.1875em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1875em; line-height: 1.2; }
p { margin: 0.935em 0px; }
ol, ul { margin: 0.9375em 0px; padding: 0px 0px 0px 2em; }
a { color: rgb(116, 162, 0); text-decoration: underline; }
img { border: 0px none; vertical-align: middle; }
.hide { display: none; }
form {  }
input { background-color: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); box-sizing: border-box; color: rgb(51, 51, 51); display: inline-block; font-family: inherit; font-size: 0.875em; margin: 0px; padding: 0.4em 10px; vertical-align: middle; }
.submit { background-color: rgb(85, 85, 85); border: 0px none; color: rgb(255, 255, 255); display: inline-block; font-family: inherit; font-size: 0.875em; margin: 0px; padding: 0.4em 10px; vertical-align: middle; }
.submit:hover { background-color: rgb(102, 102, 102); cursor: pointer; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.wrapper { margin: 0px auto; width: 1000px; }
.section { overflow: hidden; width: 100%; }
.section.green { background: radial-gradient(circle at center center , rgb(107, 151, 2), rgb(13, 69, 20)) no-repeat scroll center center rgb(13, 69, 20); color: rgb(255, 255, 255); }
.block { display: block; }
.block.shadow { box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35); }
.nav ul { list-style: outside none none; padding: 0px; }
.nav > ul > li { float: left; }
.nav a { text-decoration: none; }
.header { background-color: rgb(255, 255, 255); padding-top: 13px; }
.header .logo { display: block; }
.header .clients { color: rgb(134, 134, 134); font-size: 0.875em; line-height: 1.285em; margin-top: 20px; text-decoration: none; width: 505px; }
.header .clients img { margin: 10px 10px 0px 0px; vertical-align: bottom; }
.header .nav { background-color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); font-size: 0.9em; float: left; margin-top: 10px; width: 100%; }
.header .nav ul {  }
.header .nav > ul > li { border-bottom: 1px solid rgb(0, 0, 0); border-top: 1px solid rgb(0, 0, 0); float: left; position: relative; }
.header .nav > ul > li + li { border-left: 1px solid rgb(51, 51, 51); }
.header .nav .menu-item-has-children > a { padding-right: 25px; }
.header .nav .dd-ind { background-image: url("dropdown.png"); background-position: left top; background-repeat: no-repeat; display: block; height: 5px; position: absolute; right: 10px; top: 0.9em; width: 9px; }
.header .nav .menu-item-has-children:hover .dd-ind { background-position: left bottom; }
.header .nav a { padding: 4px 11px; display: block; white-space: nowrap; }
.header .nav > ul > li > a { color: rgb(255, 255, 255); }
.header .nav > ul > li:hover > a { color: rgb(51, 51, 51); }
.header .nav > ul > li:hover { background-color: rgb(255, 255, 255); border-bottom-color: rgb(204, 204, 204); border-top-color: rgb(204, 204, 204); color: rgb(51, 51, 51); }
.header .nav ul ul { background-color: rgb(255, 255, 255); box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35); border-color: rgb(204, 204, 204); border-style: solid; border-width: 0px 0px 0px 1px; display: none; left: 0px; margin: 0px; min-width: 200px; position: absolute; top: 100%; white-space: nowrap; z-index: 3; }
.header .nav ul ul li { border-top: 1px solid rgb(204, 204, 204); }
.header .nav ul ul li:hover { background-color: rgb(241, 241, 241); }
.header .nav ul ul a { color: rgb(51, 51, 51); }
.main { background-color: rgb(255, 255, 255); border-radius: 3px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15); margin-top: 20px; overflow: hidden; padding: 40px 62px; width: 560px; }
.main.full { width: 876px; }
.footer { background-color: rgb(224, 224, 224); color: rgb(85, 85, 85); font-size: 0.75em; overflow: hidden; padding: 15px 0px; }
.footer .search { font-size: 1.2em; overflow: hidden; }
.footer .search .input { border: 0px none; margin-right: 5px; width: 170px; }
.footer .nav { font-size: 1.2em; line-height: 1.25; }
.footer .nav ul { margin: 10px 0px 5px; overflow: hidden; }
.footer .nav li { float: left; }
.footer .nav li + li { border-left: 1px solid rgb(51, 51, 51); margin-left: 0.715em; padding-left: 0.715em; }
.footer .nav a { color: rgb(85, 85, 85); white-space: nowrap; }
.footer .nav a:hover { text-decoration: underline; }
.breadcrumb { font-size: 0.875em; padding: 0.6em 0px; text-shadow: 0px 1px 0px rgb(0, 0, 0); }
.breadcrumb a { color: rgb(255, 255, 255); text-decoration: underline; }
.comparison { border-collapse: collapse; font-size: 0.6875em; line-height: 1.1; position: relative; table-layout: fixed; text-align: center; width: 100%; }
.comparison thead, .comparison tbody { position: relative; z-index: 1; }
.comparison th, .comparison td { padding: 10px 5px; vertical-align: middle; }
.comparison th:first-child, .comparison td:first-child { width: 67px; }
.comparison th { background-color: rgb(139, 162, 48); background-image: linear-gradient(to bottom, rgb(139, 162, 48), rgb(171, 195, 75)); border: 1px solid transparent; color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase; }
.comparison th a { color: rgb(255, 255, 255); }
.comparison td { border: 1px solid rgb(221, 221, 221); }
.comparison .even td { background-color: rgb(243, 243, 243); background-clip: padding-box; }
.comparison a { display: block; }
.comparison a[title] { cursor: help; }
.comparison img { display: block; margin: 3px auto; }
.cta { border-top: 3px solid rgb(135, 169, 22); padding: 1.875em 0px; }
.cta .block { background: url("1.gif") no-repeat scroll 30px 24px rgb(244, 244, 244); padding: 25px 30px 10px 95px; position: relative; }
.cta .block ~ .block { background-image: url("2.gif"); }
.cta .block .heading { border-bottom: 2px solid rgb(138, 189, 0); font-size: 1.375em; padding-bottom: 0.2em; position: relative; z-index: 1; }
.cta .block .guide { bottom: 18px; position: absolute; right: -28px; z-index: 2; }
.cta .block ~ .block .guide { bottom: 44px; right: -20px; }
.cta .seperator { display: block; margin: 1em auto 0.625em; }
.cta .content { padding-right: 90px; }
.scrolltriggered { bottom: -255px; display: none; left: 10px; padding-top: 15px; position: fixed; z-index: 10; width: 300px; }
.scrolltriggered .close { background: url("close.png") no-repeat scroll center center transparent; height: 34px; position: absolute; right: 15px; text-indent: -9999px; top: 0px; width: 34px; }
.fixed-feedback { background: url("feedback-bg.png") repeat scroll -31px 0px transparent; display: block; width: 31px; height: 126px; overflow: hidden; position: fixed; right: 0px; top: 35%; text-align: left; text-indent: -999px; z-index: 1000; }
.fixed-feedback:hover { background: url("feedback-bg.png") repeat scroll 0px 0px transparent; border-color: rgb(79, 103, 9); }
